* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #8CC461;
}

.score-board {
    width: 50rem;
    height: 9.875rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
    border: 2px solid #FFF;
    background: rgba(28, 48, 120, 0.00);
    margin: 2rem;
}

.head{
    color:white; 
    margin:0.5rem;
}

.box{
    text-align: center;
    color: #6B6B6B;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sign {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0.5rem;
}

.uppersign {
    display: flex;

}

.rock {
    background-color: white;
    width: 10.875rem;
    height: 10.875rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10rem;
    border: 1rem solid rgba(0, 116, 182, 1);
    margin: 3rem 6rem 0 3rem;

}

.paper {
    background-color: white;
    width: 9.875rem;
    height: 9.875rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10rem;
    border: 1rem solid rgba(255, 169, 67, 1);
    margin: 3rem;
    margin-left: 12.5rem;
    margin-bottom: 0;
}

.scissors {
    background-color: white;
    width: 9.875rem;
    height: 9.875rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10rem;
    border: 1rem solid rgba(189, 0, 255, 1);
    margin: 3rem 3rem 0 3rem;

}

.triangle-container {
    z-index: -1;
    position: absolute;
    rotate: 180;
}

.triangle {
    fill: transparent;
    stroke: rgba(0, 0, 0, 0.64);
    stroke-width: 15;
}

.score-board {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.score {
    display: flex;
}

.comp-score {
    width: 8.6875rem;
    height: 8rem;
    flex-shrink: 0;
    border-radius: 0.5625rem;
    background: #FFF;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.person-score {
    width: 8.6875rem;
    height: 8rem;
    flex-shrink: 0;
    border-radius: 0.5625rem;
    background: #FFF;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.comp-score h1,
.person-score h1 {
    font-size: 3rem;
}

button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
}


.rules-popup {
    display: none;
    position: fixed;
    overflow: auto;
    bottom: 40px;
    right: 1px;
    margin: 0;
    width: 20rem;
    flex-shrink: 0;
    overflow-x: hidden;
}

ul li {
    color: #FFD600;
    list-style: square;
    line-height: 0.99em;
    margin: 15px auto;
}

ul li span {
    color: white;
}

.rules-content {
    margin: 1rem;
    background-color: #004429;
    margin: 10% auto;
    padding: 1rem 1rem 1rem 2rem;
    color: white;
    border-radius: 0.5rem;
    border: 6px solid #FFF;
    margin-right: 1rem;
}

.close {
    color: #eaeaea;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
    width: 3.125rem;
    height: 3.125rem;
    stroke-width: 5px;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1px;
    right: -2px;
    border: 5px solid white;
}

.result {
    display: flex;
    justify-content: center;
    display: none;
}

.selected {
    padding: 0;
    margin: 5rem;
}

.box4 {
    position: relative;
    border-radius: 50%;
    box-shadow:
        0 0 0 10px #2E9826,
        0 0 0 20px #3aa337,
        0 0 0 30px #50ad53,
        0 0 0 40px #52ba59,
        0 0 0 50px #8CC461;
}

.pc-picked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc-picked h3 {
    margin-top: 4rem;
    color: white;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.pc-picked div {
    margin-top: 2rem;
}

.you-picked {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.you-picked h3 {
    margin-top: 4rem;
    color: white;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.you-picked div {
    margin-top: 2rem;
}

.result-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: scale .02 ease;

}

.result-button button {
    width: 10rem;
    color: #6B6B6B;
    border-radius: 10px;
    background-color: white;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.result-button h1 {
    color: white;
}

.result-button h3 {
    color: white;
    margin-bottom: 2rem;
}

.next {
    display: flex;
}

.both-button {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: scale .02 ease;
}

.btn-h:hover {
    scale: 1.018;
    color: white;
}



#nextButton {
    margin-left: 1rem;
}

.additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    height: 100vh;
    overflow: hidden;

}

.additional-content p {
    color: #FFF;
    text-align: center;
    font-size: 5.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56875rem;
    width: 29rem;
    height: 5.375rem;
    flex-shrink: 0;
    margin-top: 2rem;

}

.additional-content h1 {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 29rem;
    height: 5.375rem;
    flex-shrink: 0;
    margin-top: 2rem;
}

.cup-container {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 70vw;
}

.cup {
    display: inline-block;
    position: relative;
    margin-top: 3rem;
}

.star {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.star1 {
    width: 20px;
    height: 20px;
    top: 3%;
    left: 45%;
}

.star2 {
    width: 60px;
    height: 60px;
    top: 60%;
    left: 80%;
}

.star3 {
    width: 40px;
    height: 40px;
    top: 0;
    left: 75%;
}

.star4 {
    width: 70px;
    height: 70px;
    top: 20%;
    left: 25%;
}

.star5 {
    width: 60px;
    height: 60px; 
    top: 50%;
    left: 35%;
}

.star6 {
    width: 40px; 
    height: 45px;  
    top: 80%;
    left: 30%;
}

.star7 {
    width: 20px; 
    height: 20px;
    top: 70%;
    left: 65%;
}

.star8 {
    width: 60px;
    height: 60px;
    top: 40%;
    left: 70%;
}